In [6]:
#import all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import pandas_profiling as pdpf
from pandas import DataFrame

In [7]:
#reading csv files into respective variables.
games = pd.read_csv('games.csv')
gps = pd.read_csv('gps.csv')
rpe = pd.read_csv('rpe.csv')
wellness = pd.read_csv('wellness.csv')

In [8]:
#------------------------------------------ Python 2 Finals Documentation:---------------------------------------------#
#Group Members:  Ricky, Tyler, Dominique, David, Jay, Reiley

# AIM:  The Role of Fatigue in Performance

# **----------Summary of Files: ---------***
# Games.csv - provided for game stats. Wins/Losses.  Quantifiable Data
# Wellness.csv - self-reported health data. unQuantifiable Data 
# RPE.csv - self-reported effort put in game/workout session. unQuantifiable Data 
# gps.csv - provided for player position in games.  NO real value. Quantifiable Data!

# Questions to consider:
#1 The causes of fatigue? mental health/illness(depression) component?  
#---- https://www.medicalnewstoday.com/articles/248002.php
#---- https://www.health.com/depression/mental-illness-twitter-thread
#---- https://www.psycom.net/male-depression-anxiety-athletes/
#2 Is fatigue the primary cause leading to a loss or a previous loss cause leading to another loss?
#3 what factor that mental state play in this dataset?
#4 Should wellness be reported BEFORE & AFTER games to be more balanced?
#5 Is there an injury chart or injured player in the dataset that can render the athlete performance shabby!
# ------http://www.ncaa.org/sport-science-institute/mind-body-and-sport-how-being-injured-affects-mental-health



# Angle of attack:
# **Consider postulating what may cause fatigue or reported fatigue then analyze data to fit your theory.

# 1) Compare self-reported fatigue of 2 games days where 1st game won/versus 1st game loss!
# 2) Use GPS to map out movement of players during #1.
# 3) compare overtraining, burnout to performance(losses)

#plots: seaborn & matplotlib
# boxplot:  https://seaborn.pydata.org/examples/grouped_boxplot.html
# violinplot: https://seaborn.pydata.org/examples/grouped_violinplots.html
# scatterplot:  https://seaborn.pydata.org/examples/scatterplot_categorical.html
# Historygram/kdeplot:  https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html
# ***** REGRESSION MODEL PLOT ***** https://seaborn.pydata.org/tutorial/regression.html

In [9]:
games.head()

,GameID,Date,Tournament,TournamentGame,Team,Opponent,Outcome,TeamPoints,TeamPointsAllowed
0,1,2017-11-30,Dubai,1,Canada,Spain,W,19,0
1,2,2017-11-30,Dubai,2,Canada,Ireland,W,31,0
2,3,2017-11-30,Dubai,3,Canada,Fiji,W,31,14
3,4,2017-12-01,Dubai,4,Canada,France,W,24,19
4,5,2017-12-01,Dubai,5,Canada,Australia,L,7,25

In [24]:
gps.head()

,GameID,Half,PlayerID,FrameID,Time,GameClock,Speed,AccelImpulse,AccelLoad,AccelX,AccelY,AccelZ,Longitude,Latitude
0,1,1,2,1,00:22:01,00:00:00,0.658334,0.611112,0.005330,0.13250,0.69875,0.56500,55.466666,24.994873
1,1,1,2,2,00:22:01,00:00:00,0.594445,0.638889,0.006568,0.11125,0.92000,0.70625,55.466666,24.994874
2,1,1,2,3,00:22:01,00:00:00,0.363889,2.305557,0.003114,0.01375,0.77000,0.67750,55.466667,24.994874
3,1,1,2,4,00:22:01,00:00:00,0.444445,0.805556,0.002602,0.00625,0.88625,0.59500,55.466667,24.994874
4,1,1,2,5,00:22:01,00:00:00,0.400000,0.444445,0.003813,-0.01750,0.85750,0.57375,55.466668,24.994874

In [25]:
rpe.head()

,Date,PlayerID,Training,SessionType,Duration,RPE,SessionLoad,DailyLoad,AcuteLoad,ChronicLoad,AcuteChronicRatio,ObjectiveRating,FocusRating,BestOutOfMyself
0,2018-07-21,13,Yes,Mobility/Recovery,5.0,0.0,0.0,446.0,323.1,303.25,1.07,NaN,NaN,Not at all
1,2018-07-21,13,Yes,Game,29.0,7.0,203.0,NaN,NaN,NaN,NaN,NaN,NaN,Not at all
2,2018-07-21,13,Yes,Game,27.0,9.0,243.0,NaN,NaN,NaN,NaN,NaN,NaN,Not at all
3,2018-07-20,11,Yes,Game,36.0,6.0,216.0,534.0,256.3,344.18,0.74,9.0,10.0,Absolutely
4,2018-07-20,11,Yes,Game,36.0,8.0,288.0,NaN,NaN,NaN,NaN,9.0,10.0,Absolutely

In [26]:
wellness.head()

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,BedTime,WakeTime,SleepHours,SleepQuality,MonitoringScore,Pain,Illness,Menstruation,Nutrition,NutritionAdjustment,USGMeasurement,USG,TrainingReadiness
0,2018-07-21,1,3,3,2,3,23:00:00,07:00:00,8.00,2,13,No,No,Yes,Excellent,Yes,No,NaN,0%
1,2018-07-21,2,4,3,4,4,23:00:00,07:00:00,8.00,4,19,Yes,No,Yes,NaN,NaN,Yes,1.010,0%
2,2018-07-21,3,3,3,5,4,22:30:00,06:30:00,8.00,4,19,No,No,No,NaN,NaN,Yes,1.016,100%
3,2018-07-21,4,2,3,5,4,00:30:00,07:00:00,6.50,1,15,No,No,Yes,Excellent,Yes,Yes,1.025,95%
4,2018-07-21,5,5,3,4,4,23:45:00,07:00:00,7.25,4,20,No,No,No,Okay,Yes,Yes,1.022,100%

In [27]:
AverageScore = wellness.groupby('PlayerID').MonitoringScore.mean()
AverageScore

PlayerID
1     16.003155
2     19.430678
3     17.882184
4     17.411003
5     19.749035
6     19.022814
7     17.524781
8     19.397394
9     24.144796
10    16.480480
11    15.425287
12    19.282609
13    18.153409
14    18.633962
15    23.563725
16    16.034884
17    19.296943
Name: MonitoringScore, dtype: float64

In [11]:
data = {'AverageScore':AverageScore}
frame = DataFrame(data)
frame

NameError: name 'AverageScore' is not defined

In [12]:
wellness
wellness.shape

(5011, 19)

In [13]:
temp = pd.merge(wellness, frame, on = 'PlayerID')
temp.head()

NameError: name 'frame' is not defined

In [31]:
temp['DeviationScore'] = (temp['MonitoringScore'] - temp['AverageScore'])**2 
temp

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,BedTime,WakeTime,SleepHours,SleepQuality,...,Pain,Illness,Menstruation,Nutrition,NutritionAdjustment,USGMeasurement,USG,TrainingReadiness,AverageScore,DeviationScore
0,2018-07-21,1,3,3,2,3,23:00:00,07:00:00,8.00,2,...,No,No,Yes,Excellent,Yes,No,NaN,0%,16.003155,9.018937
1,2018-07-20,1,3,4,3,4,23:00:00,07:00:00,8.00,2,...,No,No,Yes,Excellent,Yes,Yes,1.019,0%,16.003155,0.000010
2,2018-07-19,1,4,4,3,4,22:30:00,08:00:00,9.50,5,...,No,No,Yes,Excellent,Yes,Yes,1.015,0%,16.003155,15.974773
3,2018-07-18,1,3,4,3,1,23:15:00,08:00:00,8.75,4,...,No,No,Yes,Excellent,Yes,No,NaN,0%,16.003155,1.006319
4,2018-07-17,1,4,4,3,4,23:15:00,08:00:00,8.75,3,...,No,No,No,Excellent,Yes,Yes,1.016,0%,16.003155,3.987392
5,2018-07-16,1,4,4,2,3,23:00:00,08:00:00,9.00,3,...,No,No,No,Excellent,Yes,Yes,1.017,0%,16.003155,0.000010
6,2018-07-15,1,4,4,4,4,23:15:00,08:30:00,9.25,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,24.968464
7,2018-07-14,1,5,4,3,4,00:15:00,09:00:00,8.75,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,24.968464
8,2018-07-13,1,5,5,4,6,23:15:00,08:30:00,9.25,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,80.943228
9,2018-07-12,1,3,4,2,5,22:30:00,06:30:00,8.00,4,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,3.987392
10,2018-07-11,1,3,4,3,7,23:15:00,08:15:00,9.00,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,35.962155
11,2018-07-10,1,3,5,3,4,22:30:00,08:45:00,10.25,6,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,24.968464
12,2018-07-09,1,2,5,2,4,22:30:00,06:30:00,8.00,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,0.000010
13,2018-07-08,1,3,5,3,6,00:00:00,09:15:00,9.25,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,35.962155
14,2018-07-07,1,3,4,3,5,23:15:00,09:15:00,10.00,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,15.974773
15,2018-07-06,1,2,4,2,4,21:45:00,06:30:00,8.75,4,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,0.000010
16,2018-07-05,1,3,4,2,3,22:15:00,06:45:00,8.50,4,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,0.000010
17,2018-07-04,1,4,2,2,5,22:30:00,07:45:00,9.25,5,...,Yes,No,No,Excellent,Yes,No,NaN,0%,16.003155,3.987392
18,2018-07-03,1,3,4,2,4,22:30:00,08:15:00,9.75,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,3.987392
19,2018-07-02,1,2,4,1,3,22:15:00,06:30:00,8.25,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,9.018937
20,2018-07-01,1,3,4,3,4,23:30:00,10:15:00,10.75,5,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,8.981083
21,2018-06-29,1,2,4,2,4,22:30:00,06:30:00,8.00,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,1.006319
22,2018-06-28,1,2,4,3,4,23:15:00,06:30:00,7.25,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,0.000010
23,2018-06-27,1,2,3,2,4,23:15:00,09:00:00,9.75,4,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,1.006319
24,2018-06-26,1,3,4,3,4,22:00:00,08:00:00,10.00,4,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,3.987392
25,2018-06-25,1,1,4,1,3,23:00:00,06:30:00,7.50,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,16.025247
26,2018-06-24,1,1,3,1,4,00:30:00,09:00:00,8.50,3,...,No,No,Yes,Excellent,Yes,No,NaN,0%,16.003155,16.025247
27,2018-06-23,1,2,2,1,4,23:00:00,09:00:00,10.00,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,16.025247
28,2018-06-22,1,1,4,2,3,22:00:00,06:30:00,8.50,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,9.018937
29,2018-06-21,1,1,3,2,4,23:00:00,06:45:00,7.75,3,...,No,No,No,Excellent,Yes,No,NaN,0%,16.003155,9.018937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,2017-09-02,9,6,6,6,6,23:15:00,06:45:00,7.50,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
4982,2017-09-01,9,6,6,6,6,21:30:00,07:15:00,9.75,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4983,2017-08-31,9,6,6,6,6,21:30:00,05:45:00,8.25,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4984,2017-08-30,9,6,6,6,6,21:30:00,05:45:00,8.25,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
4985,2017-08-29,9,6,6,6,6,21:00:00,05:45:00,8.75,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4986,2017-08-28,9,6,6,6,6,19:30:00,05:00:00,9.50,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4987,2017-08-27,9,6,6,6,6,23:45:00,06:00:00,6.25,6,...,No,No,Yes,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4988,2017-08-26,9,6,4,6,6,22:15:00,07:00:00,8.75,6,...,No,No,Yes,Excellent,Yes,No,NaN,95%,24.144796,14.862595
4989,2017-08-25,9,6,6,6,6,22:15:00,07:00:00,8.75,6,...,No,No,Yes,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4990,2017-08-24,9,6,5,6,6,22:15:00,07:00:00,8.75,6,...,No,No,Yes,Excellent,Yes,No,NaN,95%,24.144796,23.573002
4991,2017-08-23,9,6,4,6,6,22:15:00,07:00:00,8.75,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,14.862595
4992,2017-08-22,9,6,4,6,6,22:15:00,07:00:00,8.75,6,...,No,No,Yes,Excellent,Yes,No,NaN,100%,24.144796,14.862595
4993,2017-08-21,9,6,6,6,6,22:15:00,07:00:00,8.75,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4994,2017-08-20,9,6,6,6,6,22:15:00,07:00:00,8.75,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4995,2017-08-19,9,6,6,6,6,22:15:00,07:00:00,8.75,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
4996,2017-08-18,9,6,6,6,6,21:45:00,08:00:00,10.25,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4997,2017-08-16,9,6,6,6,6,21:45:00,08:00:00,10.25,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
4998,2017-08-15,9,6,6,6,6,21:45:00,08:00:00,10.25,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
4999,2017-08-14,9,6,6,6,6,21:45:00,07:30:00,9.75,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5000,2017-08-13,9,6,6,6,6,21:45:00,07:30:00,9.75,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5001,2017-08-12,9,6,6,6,6,21:30:00,08:00:00,10.50,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5002,2017-08-11,9,6,6,6,6,20:00:00,05:00:00,9.00,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5003,2017-08-10,9,6,5,6,6,20:00:00,07:00:00,11.00,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,23.573002
5004,2017-08-09,9,6,6,6,6,20:00:00,06:30:00,10.50,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5005,2017-08-08,9,7,7,7,7,21:00:00,08:30:00,11.50,7,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,117.835446
5006,2017-08-07,9,6,6,6,6,21:00:00,08:30:00,11.50,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5007,2017-08-06,9,6,6,6,6,22:00:00,07:45:00,9.75,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5008,2017-08-05,9,6,6,6,6,22:00:00,06:00:00,8.00,6,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,34.283409
5009,2017-08-04,9,6,6,6,6,21:30:00,05:30:00,8.00,6,...,No,No,No,Excellent,Yes,No,NaN,95%,24.144796,34.283409
5010,2017-08-03,9,6,6,6,6,21:30:00,08:00:00,10.50,7,...,No,No,No,Excellent,Yes,No,NaN,100%,24.144796,46.993817

In [32]:
calc = temp[['PlayerID', '' 'DeviationScore']]
calc = calc.groupby('PlayerID').sum().rename(columns={'DeviationScore':'TotalScore'})
calc

           TotalScore
PlayerID
1         4026.996845
2         3939.120944
3         1036.169540
4         2940.802589
5         1434.687259
6          735.863118
7         1639.539359
8         6151.517915
9         7161.366516
10        2533.123123
11        2457.057471
12         766.630435
13        1221.715909
14        1801.494340
15        3168.171569
16        3983.581395
17         593.807860

In [33]:
temp = pd.merge(temp, calc, on = 'PlayerID')

In [34]:
temp['DeviationScore'] = 0
totals = temp[['PlayerID', 'TotalScore']].groupby('PlayerID').count()

In [35]:
temp = pd.merge(temp, totals, on = 'PlayerID')

In [36]:
temp['DeviationScore'] = (temp['TotalScore_x'] / temp['TotalScore_y'])**.5

In [37]:
temp = temp.rename(columns={'DeviationScore':'veriance'})

In [38]:
use = temp[['Date','PlayerID', 'MonitoringScore', 'AverageScore', 'veriance']]

In [39]:
use

            Date  PlayerID  MonitoringScore  AverageScore  veriance
0     2018-07-21         1               13     16.003155  3.564191
1     2018-07-20         1               16     16.003155  3.564191
2     2018-07-19         1               20     16.003155  3.564191
3     2018-07-18         1               15     16.003155  3.564191
4     2018-07-17         1               18     16.003155  3.564191
5     2018-07-16         1               16     16.003155  3.564191
6     2018-07-15         1               21     16.003155  3.564191
7     2018-07-14         1               21     16.003155  3.564191
8     2018-07-13         1               25     16.003155  3.564191
9     2018-07-12         1               18     16.003155  3.564191
10    2018-07-11         1               22     16.003155  3.564191
11    2018-07-10         1               21     16.003155  3.564191
12    2018-07-09         1               16     16.003155  3.564191
13    2018-07-08         1               22     16.003155  3.564191
14    2018-07-07         1               20     16.003155  3.564191
15    2018-07-06         1               16     16.003155  3.564191
16    2018-07-05         1               16     16.003155  3.564191
17    2018-07-04         1               18     16.003155  3.564191
18    2018-07-03         1               18     16.003155  3.564191
19    2018-07-02         1               13     16.003155  3.564191
20    2018-07-01         1               19     16.003155  3.564191
21    2018-06-29         1               15     16.003155  3.564191
22    2018-06-28         1               16     16.003155  3.564191
23    2018-06-27         1               15     16.003155  3.564191
24    2018-06-26         1               18     16.003155  3.564191
25    2018-06-25         1               12     16.003155  3.564191
26    2018-06-24         1               12     16.003155  3.564191
27    2018-06-23         1               12     16.003155  3.564191
28    2018-06-22         1               13     16.003155  3.564191
29    2018-06-21         1               13     16.003155  3.564191
...          ...       ...              ...           ...       ...
4981  2017-09-02         9               30     24.144796  5.692484
4982  2017-09-01         9               30     24.144796  5.692484
4983  2017-08-31         9               30     24.144796  5.692484
4984  2017-08-30         9               30     24.144796  5.692484
4985  2017-08-29         9               30     24.144796  5.692484
4986  2017-08-28         9               30     24.144796  5.692484
4987  2017-08-27         9               30     24.144796  5.692484
4988  2017-08-26         9               28     24.144796  5.692484
4989  2017-08-25         9               30     24.144796  5.692484
4990  2017-08-24         9               29     24.144796  5.692484
4991  2017-08-23         9               28     24.144796  5.692484
4992  2017-08-22         9               28     24.144796  5.692484
4993  2017-08-21         9               30     24.144796  5.692484
4994  2017-08-20         9               30     24.144796  5.692484
4995  2017-08-19         9               30     24.144796  5.692484
4996  2017-08-18         9               30     24.144796  5.692484
4997  2017-08-16         9               30     24.144796  5.692484
4998  2017-08-15         9               30     24.144796  5.692484
4999  2017-08-14         9               30     24.144796  5.692484
5000  2017-08-13         9               30     24.144796  5.692484
5001  2017-08-12         9               30     24.144796  5.692484
5002  2017-08-11         9               30     24.144796  5.692484
5003  2017-08-10         9               29     24.144796  5.692484
5004  2017-08-09         9               30     24.144796  5.692484
5005  2017-08-08         9               35     24.144796  5.692484
5006  2017-08-07         9               30     24.144796  5.692484
5007  2017-08-06         9               30     24.144796  5.692484
5008  2017-08-05         9               30     24.144796  5.692484
5009  2017-08-04         9               30     24.144796  5.692484
5010  2017-08-03         9               31     24.144796  5.692484

[5011 rows x 5 columns]

In [44]:
use['PercentVariance'] = (use['MonitoringScore'] - use['AverageScore']) / 2 / (use['MonitoringScore'] + use['AverageScore'])* 100

C:\Users\ipatt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
use.groupby('PlayerID').max()

                Date  MonitoringScore  AverageScore  veriance  PercentVariance
PlayerID
1         2018-07-21               28     16.003155  3.564191        13.631802
2         2018-07-21               29     19.430678  3.408787         9.879401
3         2018-07-21               23     17.882184  1.725543         6.259225
4         2018-07-21               25     17.411003  3.084990         8.946967
5         2018-07-21               27     19.749035  2.353579         7.755203
6         2018-07-19               26     19.022814  1.672710         7.748501
7         2018-07-21               25     17.524781  2.186321         8.789250
8         2018-06-27               33     19.397394  4.476329        12.980231
9         2018-03-22               35     24.144796  5.692484         9.176804
10        2018-07-21               21     16.480480  2.758075         6.029164
11        2018-07-21               24     15.425287  2.657162        10.874636
12        2018-06-14               24     19.282609  1.825699         5.449523
13        2018-07-21               23     18.153409  1.863004         5.888444
14        2018-07-21               26     18.633962  2.607315         8.251606
15        2018-07-21               35     23.563725  3.940844         9.763957
16        2018-07-21               27     16.034884  3.402966        12.739800
17        2018-07-12               24     19.296943  1.610294         5.431165